.fade-visivel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}
  
.card{
width: 90%;
max-width: 500px;
height: 65%;
background: linear-gradient(139deg, rgba(255,255,255,1) 0%, rgba(168,168,168,1) 100%);
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
padding: 8px;
margin: 10px 0;
border-radius: 10px;
box-shadow: 7px 2px 34px -1px rgba(0,0,0,0.63);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 101;
}

.card h1{
    color: var(--azul);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
    font-size: 32px;
}
.card section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.card section img{
    max-width: 40%;
}

.card button{
    align-self: center;
    border: none;
    width: 120px;
    padding: 8px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.63);
    background: var(--vermelho-escuro);
    color: var(--branco-fundo);
    font-weight: 900;
    font-size: 16px;
}

.card button:hover{
    background: var(--vermelho);
    color: var(--amarelo);
}

.card .info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 350px;
}

.card .info div{
    background: var(--branco-fundo);
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.63);
    border-radius: 8px;
    width: 60%;
}

.card .info div p{
    font-weight: bold;
    color: var(--vermelho-escuro);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 12px;
}

