:root{
    --azul: #3761a8;
    --amarelo: #FECA1B;
    --vermelho: #ef5350;
    --vermelho-escuro: #c62828;
    --branco-fundo: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  .busca{
    margin: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .busca label{
    font-size: 24px;
    color: var(--azul);
    font-weight: 900;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  }

  .busca input{
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.63);
    width: 320px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--branco-fundo);
  }

  .sessao-lista{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 0px 3px;
    width: 500px;
    margin: 0 auto;
    gap: 20px;
  }

  .lista{
    background: var(--branco-fundo);
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.63);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 160px;
    cursor: pointer;
  }

  .lista h3{
    color: var(--vermelho-escuro);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  }